/*  Main Style */
body {
    font-weight: bold;
    overflow:hidden;
}
#app-container {
    width: 100%;
    height: 37.5vw;
    background-color: rgba(40,40,40, 1.0);
    color: white;
}

#logo {
    position: absolute;
    height: 2.5vw;
    top: calc(100% - 2.5vw);
}

#grid-title {
    text-align: center;
}

#title {
    font-size: 2vw;
    margin: 0px;
}

.pure-g {
    text-align: center;
    max-height: 100% !important;
}

.purge-g.toolbar {
    max-height: 100% !important;
}

#left-toolbar {
    height: 30vw;
}
#middle-toolbar {
    height: 30vw;
}
#right-toolbar {
    height: 30vw;
}

.toolbar-title {
    font-size: 1.5vw;
}

.pure-button.pure-button-primary {
    margin: 1%;
    width: 30%;
    background: rgb(123, 10, 16);
    border-radius: 4px;
    font-size: 130%;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

